@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6em;
    background-color: #fff;
    color: #444852;
    /* scroll-behavior: smooth; */
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    color: #444852;
    text-decoration: none;
}

h1 {
    font-size: 35px;
    padding-bottom: 20px;
    line-height: 1.2;
    font-weight: 500;
}

h2 {
    font-size: 35px;
    padding-bottom: 20px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 15px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #F4F9FE; */
    color: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navbar ul {
    display: flex;
}

.navbar a,
.navbar h1 {
    padding: 10px 20px;
    margin: 0 5px;
    color: #fff;
}

.navbar a:hover {
    border-bottom: #fff 2px solid;
}

.navbar .logo {
    font-weight: 800;
}

/* Header */
.hero {
    background: url('../img/hero2.jpg') no-repeat center center/cover;
    height: 90vh;
    position: relative;
    color: #fff;
}

.hero .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* text-align: center; */
    height: 100%;
    padding: 0 20px;
    /* max-width: 700px; */
}

.hero .about h1 {
    font-size: 60px;
    margin: 0 20px 10px;
}

.hero .about p {
    margin: 0 20px 30px;
}

.hero .about a {
    margin: 0 20px;
}

.hero .about h1,
.hero .about p {
    max-width: 70%;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero * {
    z-index: 10;
}

.navbar,
.icons,
.experience,
.contact {
    padding: 60px 20px;
}

/* Icons */
.icon {
    padding: 15px;
}

.icon-background {
    color: #c7b8ab;
}

.icon-color {
    color: #fff;
}


/* Contact form */

.flex-columns .column-info,
.flex-columns .column-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-info {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.contact-info a {
    padding: 15px;
}

.contact-form {
    width: 80%;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form .form-control {
    margin-bottom: 25px;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.contact-form textarea {
    height: 170px;
}



/* Colors */
.color1 {
    color: #fff;
}

.color2 {
    color: #444852;
}

.color3 {
    color: #384c63;
}

.color4 {
    color: #9ebef5;
}