/* Text colors */
.text-primary {
    color: #384c63;
}

.text-secondary {
    color: #fff;
}


/* Buttons and backgrounds */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #384c63;
    border: none;
    border-radius: 5px;
}

.btn-light,
.bg-light {
    background: #c7b8ab;
    color: #384c63;
}

.btn-dark,
.bg-dark {
    background: #333;
    color: #fff;
}

.bg-white {
    background: #fff;
    color: #384c63;
}

.btn:hover {
    opacity: 0.9;
}

/* Flex items */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.flex-items>div {
    padding: 20px;
}

/* Flex columns */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns .column .column-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-columns img {
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 300px;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns p {
    margin: 20px 0;
}

.flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
}

.flex-columns.flex-reverse .row .column-2 {
    align-items: flex-end;
    text-align: right;
}